<header class="masthead">
  <h3 class="masthead-title">
    <a href="https://klimawahl.org/">{{ site.data.settings.title }}</a>
<!--    <nav class="masthead-logo"><img src="https://klimawahl.org/assets/img/klimawahl_logo_5_kleinWebsite_ohne2017.png"></nav> -->
		<nav class="masthead-logo"><img src="https://klimawahl.org/assets/img/klimawahl_logo_5_ohneSchrift_Rechteck3_kleinWebsite.png"></nav>	
<!-- JPE    <small class="masthead-subtitle">{{ site.data.settings.tagline }}</small> -->
    {% include menu.html %}
  </h3> 
</header>
