---
layout: default
---

<h1>
  {{ page.title }}
</h1>

{% if page.image.feature %}
  <img src="https://klimawahl.org/assets/img/{{ page.image.feature }}">
{% endif %}

{{ content }}

<span class="post-date" markdown="1">
  von 
  <a href="https://klimawahl.org/menu/about.html"> 
  {% if page.author %}
    {{ page.author}}
  {% else %}
    {{ site.data.settings.author.name}}
  {% endif %}</a> 
  &nbsp;|&nbsp;
<!--  {{ page.date | date: "%Y" }} -->
<!--  {{ page.date | date: "%-d.%m.%Y" }}-->
{{ page.date | date: "%d.%m.%Y" }} &nbsp;|&nbsp;
{% for tag in page.tags %}{{ tag }} &nbsp; {% endfor %}
  
</span>


<!-- <span class="post-date">
  Written on
  {% assign d = page.date | date: "%-d"  %}
  {{ page.date | date: "%B" }}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th{% endcase %},
  {{ page.date | date: "%Y" }}
  by
  {% if page.author %}
    {{ page.author }}
  {% else %}
    {{ site.data.settings.author.name }}
  {% endif %}
</span>
-->

{% include social-sharing.html %}

{% include related-posts.html %}


<!-- JPE {% if site.data.settings.disqus.comments %} -->
<!-- JPE  {% include disqus.html %} --> 
<!-- JPE {% endif %} -->

